https://fivethirtyeight.com/features/can-you-cross-like-a-boss/

In [5]:
import pandas as pd
import numpy as np
from sympy import primefactors


def inner_product(number):
    """Calculates the product of the integers in an n-digit number"""
    product = 1
    while number > 0:
        product *= (number % 10)
        number //= 10

    return product


df = pd.DataFrame([ [0, 0, 0] for i in range(6)],
                  index=[210, 144, 54, 135, 4, 49],
                  columns=[6615, 15552, 420])

df

     6615   15552  420
210      0      0      0
144      0      0      0
54       0      0      0
135      0      0      0
4        0      0      0
49       0      0      0

In [75]:
import math

num = 220

def triple_factor(num):
    """ Returns an array of tuples of digits that multiply to num"""
    """
    Examples: 
    294 -> 6×7×7.
    216 -> 3×8×9, 4×6×9 or 6×6×6.
    135 -> 3×5×9.
    98 -> 2×7×7.
    112 -> 2×7×8 or 4×4×7.
    84 -> 2×6×7 or 3×4×7.
    245 -> 5×7×7.
    40 -> 1×5×8 or 2×4×5.
    """
    factors = set()
    for i in range(1, 10):
        if num % i == 0:
            second_factor = num // i
            for j in range(1, 10):
                if second_factor % j == 0 and second_factor // j < 10 and i * j * second_factor // j == num:
                    factors.add(tuple(sorted([i, second_factor // j, j])))
    return factors
            
        
triple_factor(112)

{(2, 7, 8), (4, 4, 7)}

In [76]:
for i in df.index:
    print(triple_factor(i))

{(5, 6, 7)}
{(4, 6, 6), (2, 8, 9), (3, 6, 8), (4, 4, 9)}
{(1, 6, 9), (3, 3, 6), (2, 3, 9)}
{(3, 5, 9)}
{(1, 1, 4), (1, 2, 2)}
{(1, 7, 7)}

In [77]:
for i in df.columns:
    print(primefactors(i))

[3, 5, 7]
[2, 3]
[2, 3, 5, 7]

In [79]:
3**5 * 2**6

15552

In [80]:
420/7

60.0

In [81]:
60/5

12.0

In [94]:
def check_board(df):
    rows = list(df.prod(axis=1))
    cols = list(df.prod(axis=0))
    
    for i, col in enumerate(df.columns):
        if cols[i] != col:
            return False
    
    for i, row in enumerate(df.index):
        if rows[i] != row:
            return False
        
    return True
        
check_board(df)

False

In [96]:
df2 = pd.DataFrame([[7, -1, -1], 
                    [-1, -1, -1],
                    [-1, -1, -1],
                    [-1, -1, -1],
                    [1, -1, -1],
                    [7, 1, 7]],
                  index=[210, 144, 54, 135, 4, 49],
                  columns=[6615, 15552, 420])
df2

     6615   15552  420
210      7     -1     -1
144     -1     -1     -1
54      -1     -1     -1
135     -1     -1     -1
4        1     -1     -1
49       7      1      7

In [98]:
6615 / 49/5/9

3.0

In [99]:
df3 =  pd.DataFrame([[7, 6, 5], 
                    [9, 8, 2],
                    [3, 9, 2],
                    [5, 9, 3],
                    [1, 4, 1],
                    [7, 1, 7]],
                  index=[210, 144, 54, 135, 4, 49],
                  columns=[6615, 15552, 420])

In [100]:
check_board(df3)

True